@mixin breakpoint($point) {
  @if ($point == md) {
    @media only screen and(max-width: 992px) {
      @content;
    }
  } @else if ($point == sm) {
    @media only screen and(max-width: 767px) {
      @content;
    }
  } @else if ($point == xs) {
    @media only screen and(max-width: 576px) {
      @content;
    }
  }
}
@for $i from 1 through 16 {
  .font-more {
    @media only screen and(max-width:2020px-$i*100) {
      font-size: 76px-$i * 4;
    }
  }
}
@mixin flex-base($justify-content: start, $align-items: start) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin bg($img, $width: initial, $height: initial) {
  width: $width;
  height: $height;
  background: url($img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@mixin absolute(
  $top: initial,
  $right: initial,
  $bottom: initial,
  $left: initial
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
@mixin hide-text {
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
